<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/quotes">Quotes</a></li>
            {{#if username}}
                <li>Welcome, {{username}}</li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>