<main class="home-page">
    <div class="title-container">
        <h2 id="hmPgHeader" >This is the premier site for famous quotes.</h2>
      <div class = "icon">
        <i id = "homefafa" class = "fa fa-address-card"></i>
      </div>
    </div>

</main>